header{
    text-align: center;
    background-color:   rgb(169, 187, 6);
    height: 100px;
}

section{
    margin-right: 850px;
    background-color:   rgb(238, 253, 105);
    height: 550px;
}

section,ul,li{
    padding:8px;
    
}

article{
    margin-left: 672px;
    margin-top: -566px;
    /* margin-right: 450px; */
    background-color:  rgb(238, 253, 105);
    height: 550px;
}

#one{
    margin-right: 450px;
}

#two{
    margin-top: -60px;
    margin-left: 450px;
}

footer{    
    background-color:  rgb(169, 187, 6);
}